@page "/Signup"

<PageTitle>Signup</PageTitle>

<head>
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/loginSignup.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<style>
body {
  background-image: url('https://images.squarespace-cdn.com/content/v1/5b352a76f93fd4a1745161a8/1530580533507-XFJITGNH91P5QQGMSX4Q/layout-background.jpg?format=2500w');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

    <!-- The Modal -->
<div class="modal" style="height: 100%;">

<div class="container">

    <!-- Put error message here -->
  <form class="modal-content animate mobileScreen" method="post" style="height:82%">
      <div id="signupForm" class="container">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="username"><b>Email</b></label>
        <input id="username" type="text" placeholder="Enter Email" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input id="password" type="password" placeholder="Enter Password" name="password" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input id="passwordRepeat" type="password" placeholder="Repeat Password" name="password-repeat" required>

        <p>By creating an account you agree to our <a href="/Privacy" style="color:dodgerblue">Terms & Privacy</a>.</p>

        <button type="submit" >Sign Up</button>

        <div class="container" style="background-color:#f1f1f1; padding-left: 0">
          <a type="button" href="/" class="cancelbtn">Cancel</a>
        </div>
       </div>
    </form>
  </div>
</div>