@media screen and (max-width: 600px) {
  .mobileScreen {
    width: 96% !important;
  }
}

.outerNews {
  width: 100%;
  height: 200px;
  border: 10px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  align-items: right;
  display: flex;
}

.sportsNews {
  width: 100%;
  border-style: hidden;
  border-width: 20px;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  background: linear-gradient(-60deg, #ffffff 53%, #f0ecec 53%);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

.sportsLink {
  width: 45%;
  height: 200px;
  margin: 2.5%;
  display: inline-block;
}

.article {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: right;
  font-size: medium;
  color: black;
  letter-spacing: 1px;
  padding-left: 10px;
}

.imageStyle {
  display: flex;
  margin: 10%;
  height: auto;
  width: 100%;
  justify-content: left;
  align-items: center;
}

.sourceLogo {
  flex-shrink: 0;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: left;
  letter-spacing: 2px;
  align-items: center;
}

.newsTitle {
  width: 80%;
  padding-right: 5%;
  padding-left: 5%;
  display: inline-block;
  text-align: right;
  font-size: 2vh;
  justify-content: right;
  align-items: right;
  letter-spacing: 2px;
}
