@page "/_Host"
@using Microsoft.AspNetCore.Components.Web
@namespace BlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Host</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="BlazorApp.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script>

        window.methods = {

            CreateCookie: function (name, value, days) {

                var expires;

                if (days) {

                    var date = new Date();

                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));

                    expires = "; expires=" + date.toGMTString();

                }

                else {

                    expires = "";

                }

                document.cookie = name + "=" + value + expires + "; path=/";

            },

            GetCookie: function (cname) {

                let name = cname + "=";

                let decodedCookie = decodeURIComponent(document.cookie);

                let ca = decodedCookie.split(';');

                for (let i = 0; i < ca.length; i++) {

                    let c = ca[i];

                    while (c.charAt(0) == ' ') {

                        c = c.substring(1);

                    }

                    if (c.indexOf(name) == 0) {

                        return c.substring(name.length, c.length);

                    }

                }

                return "";

            }

        }

    </script>

<script src="https://www.paypal.com/sdk/js?client-id=AUd0qQwqx3a99eudXSf4m25OmVuxGGw9b-ta3NHgrE4yyMypxcyaVEm3R5wAXUw8kdewVwJP6zngFxWi&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>

<script>
async function renderPaypal()
{
  paypal.Buttons({
      style: {
          shape: 'rect',
          color: 'silver',
          layout: 'vertical',
          label: 'subscribe'
      },
      createSubscription: function(data, actions) {
        return actions.subscription.create({
          /* Creates the subscription */
          plan_id: 'P-6TS59700HA1617635MRDVNHY'
        });
      },
      onApprove: function(data, actions) {
        window.location.href = 'https://sportscores.azurewebsites.net/ConfirmPayment' // You can add optional success message for the subscriber here
      }
  }).render('#paypal-button-container-P-6TS59700HA1617635MRDVNHY'); // Renders the PayPal button
}
</script>

<script>
    function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>
    <script src="/js/Imports/jquery-3.3.1.min.js"></script>
    <script src="/js/Imports/popper.min.js"></script>
    <script src="/js/Imports/bootstrap.min.js"></script>
    <script src="/js/Imports/jquery.sticky.js"></script>
    <script src="/js/Imports/owl.carousel.min.js"></script>
    <script src="_framework/blazor.server.js"></script>

    <script src="/js/NBANews.js"></script>
    <script src="/js/MLBNews.js"></script>
    <script src="/js/AIBestBets.js"></script>
    <script src="/js/BettingOdds.js"></script>
    <script src="/js/CookieManagement.js"></script>
    <script src="/js/NavbarManagement.js"></script>
    <script src="/js/SportsAI.js"></script>
    <script src="/js/Scoreboard.js"></script>
</body>
</html>
