@page "/AccountHome"
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<PageTitle>Account Hub</PageTitle>

<head>
  <link rel="stylesheet" href="/css/style.css" asp-append-version="true" />
  <link rel="stylesheet" href="/css/account.css" asp-append-version="true" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
  <link rel="stylesheet" href="/css/kolbyPicks.css" asp-append-version="true" />
  <link rel="stylesheet" href="/css/betBoard.css" asp-append-version="true" />
  <link rel="stylesheet" href="/css/bestBet.css" asp-append-version="true" />
  <link rel="stylesheet" href="/css/scoreboard.css" asp-append-version="true" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<style>
    .headerImage {
      padding-top: 5vh;
      width: 100%!important;
      left: 1%;
      position: fixed;
      text-align: center;
      align-content: center;
      width: 50%;
      color: white;
      font-size: 2rem;
      display: block;
    }
    @@media screen and (min-width: 766px) {
    .mobilePadding {
      padding-top: 2.5vh;
      left: 0!important;
    }
    }
    @@media screen and (max-width: 766px) {
    .containerPad {
      padding-top: 110px!important;
    }
    }
    @@media screen and (min-width: 1184px) {
    .mobileSetting {
      display: none!important;
    }
  }
</style>
<div class="headerImage mobileSetting mobilePadding" style="z-index: 1;">Account Hub</div>
<div class="mobileNavHeight" style="height: 65px; background-color: red; position:fixed; width: 100%"></div>
<div class="site-mobile-menu site-navbar-target" >
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body">
        <ul class="site-nav-wrap">
          <li><a href="/" class="nav-link active">Home</a></li>
          <li><a href="/LiveScores" class="nav-link active">Live Scores</a></li>
          <li><a href="/AllBetOdds" class="nav-link active">Betting Odds</a></li>
          <li><a href="/AccountHome" class="nav-link active">AI Best Bets</a></li>
              <li class="has-children">
                <span class="arrow-collapse collapsed" data-toggle="collapse" data-target="#collapseItem2" aria-expanded="false"></span>
                <a>Manage Account</a>
                <ul class="dropdown">
                  <li><a href="/ChangeEmail">Update Email</a></li>
                  <li><a href="/ChangePsw">Change Password</a></li>
                  </ul>
              </li>
              <li><a href="/Signout">Sign Out</a></li>
        </ul>
      </div>
    </div> <!-- .site-mobile-menu -->
    <!-- NAVBAR -->
    <header class="site-navbar mt-3" style="top:1rem!important">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6" style="width: 40%;"></div>

          <nav class="mx-auto site-navigation" style="width:auto!important; left:15%; ">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
              <li class="has-children" style="position:relative;top:1rem;left:50%">
                <a class="nav-link active">Account Hub</a>
                <ul class="dropdown">
                  <li><a href="/AccountHome">AI Best Bets</a></li>
                  <li><a href="/ChangeEmail">Update Email</a></li>
                  <li><a href="/ChangePsw">Change Password</a></li>
                  </ul>
              </li>
            </ul>
          </nav>
          
          <div class="center-cta-menu text-center d-flex aligin-items-center col-6">
            <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3 mobileScreenNav largeScreenNav" style="margin-top: 0!important;"></a>
          </div>
        </div>
      </div>
    </header>
<!-- Add Alert -->

        <div class="containerPad" style="width: 100%; height: 1%; padding-top: 80px; text-align: center; display: inline-block; font-size: 3vh; font-family: Impact, Haettenschweiler, Arial Narrow Bold, sans-serif;text-decoration: underline">AI Best Bets</div>
        <div style="width: 100%; height: 1%; padding-top: 10px; text-align: center; display: inline-block; font-size: 2vh; font-family: Impact, Haettenschweiler, Arial Narrow Bold, sans-serif;">The account hub contains all bets from the NBA, NHL, MLB, and NFL, and provides the most likely outcome for each game based on a variety of data, to provide +EV betting opportunities</div>
        <div style="width: 100%; height: 1%; padding-top: 10px; text-align: center; display: inline-block; font-size: 2vh; font-family: Impact, Haettenschweiler, Arial Narrow Bold, sans-serif;">Expected value (EV) in sports betting is a way to measure the probability gap between a bettor’s expectations and the sportsbook’s</div>

        <div class="AccountContainer">
        </div>

@code
{
  protected override async Task OnAfterRenderAsync(bool firstRender)
            {
              
              string isLoggedIn = HttpContextAccessor.HttpContext.Request.Cookies["loggedInStatus"];
              string confirmPayment = HttpContextAccessor.HttpContext.Request.Cookies["PaidConfirm"];
              string changedPassword = HttpContextAccessor.HttpContext.Request.Cookies["ChangedPassword"];
              string changedEmail = HttpContextAccessor.HttpContext.Request.Cookies["ChangedEmail"];
              string signedUp = HttpContextAccessor.HttpContext.Request.Cookies["signedUp"];
              string loggedIn = HttpContextAccessor.HttpContext.Request.Cookies["loggedIn"];
              if(confirmPayment == "No")
              {
                NavigationManager.NavigateTo("/Payment", forceLoad:true);
              }
              else 
              {
                await JSRuntime.InvokeVoidAsync("showMLBBets");
              }

            }
}