@page "/AllBetOdds"
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime JSRuntime

<PageTitle>Betting Odds</PageTitle>

<head>
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/betBoard.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/scoreboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/account.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<div class="pageHeader containerPad">Betting Odds</div>

<div class="betOddsContainer largeScreenContainer">@innerHtmlValue</div>
</body>
@code
{
    private string innerHtmlValue;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        innerHtmlValue = "";
        await JSRuntime.InvokeVoidAsync("showAccountMLB");
    }
}