@page "/AllBetOdds"
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime JSRuntime

<PageTitle>Betting Odds</PageTitle>

<head>
    <link rel="stylesheet" href="/css/MainStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/BettingOdds.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/ScoreboardStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/AccountHome.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<div class="container responsiveScrollContainer">
<i class="arrow left leftArrow" style="display: none;"></i>
  <div class="scrollmenu mobileScroll">
  <a onclick=showAccountNBA() href="" class="w3-hover-text-white">NBA</a>
  <a onclick=showAccountMLB() href="" class="w3-hover-text-white">MLB</a>
  <a onclick=showAccountNHL() href="" class="w3-hover-text-white">NHL</a>
  <a onclick=showAccountNFL() href="" class="w3-hover-text-white">NFL</a>
  <a onclick=showAccountCFB() href="" class="w3-hover-text-white">College Football</a>
  <a onclick=showAccountCBB() href="" class="w3-hover-text-white">College Basketball</a>
  <a onclick=showAccountCBaseball() href="" class="w3-hover-text-white">College Baseball</a>
  <a onclick=showAccountPrem() href="" class="w3-hover-text-white">Premier League</a>
  <a onclick=showAccountLaliga() href="" class="w3-hover-text-white">LaLiga</a>
  <a onclick=showAccountLigue1() href="" class="w3-hover-text-white">Ligue 1</a>
  <a onclick=showAccountBundesliga() href="" class="w3-hover-text-white">Bundesliga</a>
  <a onclick=showAccountSerieA() href="" class="w3-hover-text-white">Serie A</a>
  <a onclick=showAccountMLS() href="" class="w3-hover-text-white">MLS</a>
  </div>
  <i class="arrow right rightArrow" style="display: none;"></i>
  </div>

<div class="pageHeader pageHeaderDouble">Betting Odds</div>

<div class="betOddsContainer largeScreenContainer">@innerHtmlValue</div>
</body>
@code
{
    private string innerHtmlValue;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        innerHtmlValue = "";
        await JSRuntime.InvokeVoidAsync("showAccountMLB");
    }
}