@page "/ChangeEmail"

<PageTitle>Change Email</PageTitle>

<head>
  <link rel="stylesheet" href="/css/style.css" asp-append-version="true" />
  <link rel="stylesheet" href="/css/loginSignup.css" asp-append-version="true" />
  <link rel="stylesheet" href="/css/account.css" asp-append-version="true" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body style="background-color: beige;">

<header class=" w3-container w3-red w3-center" style="height: 25%; padding-top: 35px;">
        <h1 class="w3-margin w3-jumbo"
          style="color: white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Account Hub</h1>
        </header>

        <div class="w3" width=100%>
          <div class="w3-bar w3-red" width=100%>

            <div class="dropdown w3-mobile w3-red w3-hover-white" style="width: 25%; position: unset">
              <button class="dropbtn w3-hover-text-black" onclick="">Home
                <span class="caret"></span>
              </button>
              <div class="dropdown-content w3-mobile mobileposition" id="HomeDropdown" style="display: none;">
                <a class="dropdown-link w3-red w3-hover-white act-divider" onclick="" style="border-left: none; border-top:none; border-right:none;">Betting Odds</a>
                <a class="dropdown-link w3-red w3-hover-white" onclick="">Live Scores</a>
              </div>
            </div>
            
            <div class="dropdown w3-mobile w3-red w3-hover-white" style="width: 25%; position: unset">
              <button class="dropbtn w3-hover-text-black" onclick="">AI Best Bets
                <span class="caret"></span>
              </button>
              <div class="dropdown-content w3-mobile mobileposition" id="BestDropdown" style="display: none;">
                <a class="dropdown-link w3-red w3-hover-white act-divider" onclick="" style="border-left: none; border-top:none; border-right:none;">NBA</a>
                <a class="dropdown-link w3-red w3-hover-white act-divider" onclick="" style="border-left: none; border-top:none; border-right:none;">MLB</a>
                <a class="dropdown-link w3-red w3-hover-white" onclick="">NHL</a>
              </div>
            </div>

            <div class="dropdown w3-mobile w3-red w3-hover-white" style="width: 25%; position: unset">
              <button class="dropbtn w3-hover-text-black" onclick="">Kolby's Picks
                <span class="caret"></span>
              </button>
              <div class="dropdown-content w3-mobile mobileposition" id="KolbysDropdown" style="display: none;">
                <a class="dropdown-link w3-red w3-hover-white act-divider" onclick="" style="border-left: none; border-top:none; border-right:none;">NBA</a>
                <a class="dropdown-link w3-red w3-hover-white act-divider" onclick="" style="border-left: none; border-top:none; border-right:none;">MLB</a>
                <a class="dropdown-link w3-red w3-hover-white" onclick="">NHL</a>
              </div>
            </div>

             <div class="dropdown w3-mobile w3-red w3-hover-white" style="width: 25%; position: unset">
              <button class="dropbtn w3-hover-text-black" onclick="">Account Settings
                <span class="caret"></span>
              </button>
              <div class="dropdown-content w3-mobile mobileposition" id="settingsDropdown" style="display: none;">
                <a class="dropdown-link w3-red w3-hover-white act-divider" onclick="" style="border-left: none; border-top:none; border-right:none;">Update Email</a>
                <a class="dropdown-link w3-red w3-hover-white" onclick="">Change Password</a>
              </div>
            </div>
          </div>
        </div>

   <!-- The Modal -->
<div class="modal" style="height: 100%; display: block" >

<div class="container">
  <!-- Modal Content -->
      <!-- Put error message here -->
  <form class="modal-content animate mobileScreen" method="post" style="height:82%">

    <div class="container">
      <label for="email"><b>New Email</b></label>
      <input type="text" class="form-control" placeholder="Enter New Email" id="email" name="email" required>

      <label for="confirmEmail"><b>Confirm New Email</b></label>
      <input type="text" class="form-control" placeholder="Reenter Email" id="confirmEmail" name="confirmEmail" required>

    <label for="password"><b>Enter Password to Verify</b></label>
      <input type="password" class="form-control" placeholder="Enter Password" id="password" name="password" required>

      <button type="submit" >Confirm</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <a type="button" href="/AccountHome" class="cancelbtn">Cancel</a>
    </div>
  </form>
  </div>
</div>

        <footer class="footer text-muted" style="position: absolute;">
        <div class="container footerText">
            &copy; 2023 - Sport Scores - <a style="color: black;" asp-area="" asp-page="/Privacy">Privacy</a> - Please Contact kolbyzboesel@gmail.com With Bugs and Improvement Ideas
        </div>
        </footer>
</body>