@page "/Contact"
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager


<PageTitle>Contact</PageTitle>
<head>
    <link rel="stylesheet" href="/css/ModalElements.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/MainStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
            
<style>
 body{
    background-color: #f44336!important;
  }
@@media screen and (max-width: 768px) {
    .mobileHide {
      display: none!important;
    }
    }
</style>

<body>
    <!-- The Modal -->
<div class="modal" style="height: 100%; display: block!important">

<div class="container">

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper" style="box-shadow: none;">
						<div class="row no-gutters">
							
							<div class="col-lg-4 col-md-5 d-flex align-items-stretch" style="margin: auto;">
								<div class="info-wrap bg-primary w-100 p-md-5 p-4" style="background-color:white!important; border-radius:10px">
                                    <a @onclick=CancelPressed href="" style="color:black;float:right;font-size:1.5rem;font-weight:bold" >X</a>
									<h3 style="color: black;">Let's get in touch</h3>
									<p class="mb-4" style="color: black;">We're open for any suggestions or bug fixes!</p>
				        	
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-phone" style="color: black;"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span style="color: black;">Phone:</span> <a href="tel://4148288543" style="color: black;">(414)-828-8543</a></p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-paper-plane" style="color: black;"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span style="color: black;">Email:</span> <a href="mailto:kolbyzboesel@gmail.com" style="color: black;">kolbyzboesel@gmail.com</a></p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-globe" style="color: black;"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span style="color: black;">Website</span> <a href="#" style="color: black;">sportscorespro.com</a></p>
					          </div>
				          </div>
			          </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

    </div>
</div>

</body>

@code{
	public async Task CancelPressed()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "cancelPressed", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
}