@page "/"
@inject IJSRuntime JSRuntime
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<head>
  <link rel="stylesheet" href="/css/style.css" asp-append-version="true" />
  <link rel="stylesheet" href="/css/loginSignup.css" asp-append-version="true" />
</head>

<body>
<header class="w3-container w3-center" style="height: 25%; padding-top: 15vh; width: 100%; position:absolute">
  <h1 class="w3-margin w3-jumbo"
    style="color: white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Daily Sports Scores
  </h1>
  <h2
    style="color: white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size:2vh">Please create an account to see daily AI betting picks!
  </h2>
</header>

<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >
</body>
@code
{
  
}