@page "/"
@inject IJSRuntime JSRuntime


<PageTitle>Home</PageTitle>

<head>
  <link rel="stylesheet" href="/css/style.css" asp-append-version="true" />
  <link rel="stylesheet" href="/css/loginSignup.css" asp-append-version="true" />
</head>
<style>
body {
  background-image: url('https://images.squarespace-cdn.com/content/v1/5b352a76f93fd4a1745161a8/1530580533507-XFJITGNH91P5QQGMSX4Q/layout-background.jpg?format=2500w');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

<header class="w3-container w3-center" style="height: 25%; padding-top: 20%;">
  <h1 class="w3-margin w3-jumbo"
    style="color: white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Daily Sports Scores
  </h1>
  <h2
    style="color: white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size:2vh">Please create an account to see daily AI betting picks, as well as my daily picks!
  </h2>
</header>

@code
{
protected override async Task OnInitializedAsync()
{
}

}

