@page "/Index"
@inject IJSRuntime JSRuntime
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<head>
  <link rel="stylesheet" href="/css/MainStyle.css" asp-append-version="true" />
  <link rel="stylesheet" href="/css/ModalElements.css" asp-append-version="true" />
</head>

<style>
  .mainHeader{
    color: white;
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 2px;
  }

  @@media screen and (max-width: 768px) {
    .mainHeader{
      font-size: 2.25rem!important;
      letter-spacing: 1px;
  }
    .mobileMainPadding{
      padding-top: 40vh!important;
    }
  }
</style>
<header class="w3-container w3-center mobileMainPadding" style="height: 25%; padding-top: 18vh; width: 100%; position:absolute">
  <h1 class="mainHeader" >
    Daily Sports Scores
  </h1>
  <h2
    style="color: white; font-size:1rem;">Please create an account to see daily AI betting picks!
  </h2>
</header>

<div class="area" >
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div >