@page "/LiveScores"
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime JSRuntime

<PageTitle>Live Scores</PageTitle>

<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/scoreboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<style>
    .headerImage {
      padding-top: 4vh;
      width: 100%!important;
      left: 5%;
      position: fixed;
      text-align: center;
      align-content: center;
      width: 50%;
      color: white;
      font-weight: bold;
      font-size: 2.5rem;
      display: block;
    }
    @@media screen and (min-width: 766px) {
    .mobilePadding {
      padding-top: 1.5vh;
      left: 0!important;
    }
    }
    @@media screen and (max-width: 766px) {
    .containerPad {
        padding-top: 110px!important;
    }
    }
    @@media screen and (min-width: 1184px) {
    .mobileSetting {
      display: none!important;
    }
  }
</style>
<div class="mobileNavHeight" style="height: 65px; background-color: red; position:fixed; width: 100%"></div>

<div class="containerPad" style="width: 100%; height: 1%; padding-top: 80px; text-align: center; display: inline-block; font-size: 3vh; font-family: Impact, Haettenschweiler, Arial Narrow Bold, sans-serif;text-decoration: underline">Live Scores</div>

<div class="liveScoresContainer">@innerHtmlValue</div>

@code
{
    private string innerHtmlValue = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        innerHtmlValue = "";
        await JSRuntime.InvokeVoidAsync("showLiveMLB");
    }

}