@page "/LiveScores"
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime JSRuntime

<PageTitle>Live Scores</PageTitle>

<head>
    <link rel="stylesheet" href="/css/MainStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/ScoreboardStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<div class="container responsiveScrollContainer">
<i class="arrow left leftArrow" style="display: none;"></i>
  <div class="scrollmenu mobileScroll">
  <a onclick=showLiveNBA() href="" class="w3-hover-text-white">NBA</a>
  <a onclick=showLiveMLB() href="" class="w3-hover-text-white">MLB</a>
  <a onclick=showLiveNHL() href="" class="w3-hover-text-white">NHL</a>
  <a onclick=showLiveNFL() href="" class="w3-hover-text-white">NFL</a>
  <a onclick=showLiveCBB() href="" class="w3-hover-text-white">College Basketball</a>
  <a onclick=showLiveCFB() href="" class="w3-hover-text-white">College Football</a>
  <a onclick=showLiveCBaseball() href="" class="w3-hover-text-white">College Baseball</a>
  <a onclick=showLivePrem() href="" class="w3-hover-text-white">Premier League</a>
  <a onclick=showLiveBundesliga() href="" class="w3-hover-text-white">Bundesliga</a>
  <a onclick=showLiveLaliga() href="" class="w3-hover-text-white">LaLiga</a>
  <a onclick=showLiveSerieA() href="" class="w3-hover-text-white">Serie A</a>
  <a onclick=showLiveLigue1() href="" class="w3-hover-text-white">Ligue 1</a>
  <a onclick=showLiveMLS() href="" class="w3-hover-text-white">MLS</a>
  </div>
  <i class="arrow right rightArrow" style="display: none;"></i>
  </div>

<div class="pageHeader pageHeaderDouble">Live Scores</div>

<div class="liveScoresContainer largeScreenContainer">@innerHtmlValue</div>
</body>

@code
{
    private string innerHtmlValue = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        innerHtmlValue = "";
        await JSRuntime.InvokeVoidAsync("showLiveMLB");
    }
 
}