@page "/NHL"

<PageTitle>NHL</PageTitle>

<head>
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/bestBet.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/scoreboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/news.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/kolbyPicks.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/betBoard.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body style="background-color: beige;">
<header class=" w3-container w3-red w3-center" style="height: 25%; padding-top: 35px;">
        <h1 class="w3-margin mobileHeader"
          style="color: white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size:64px">NHL</h1>
        </header>

          <div class="w3-bar w3-red" width=100%>
            <a onclick="" class="w3-bar-item w3-button w3-mobile w3-hover-white"
              style="width: 33.3%;">Home</a>
            <a onclick=showNHLScores() class="w3-bar-item w3-button w3-mobile w3-hover-white"
              style="width: 33.3%;">Today's Scores</a>
            <a onclick=showNHLOdds() class="w3-bar-item w3-button w3-mobile w3-hover-white"
              style="width: 33.3%;">Betting Odds</a>
          </div>

        <div class="containerNHL"></div>
</body>