@page "/Payment"
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime JSRuntime

<PageTitle>Payment</PageTitle>

<head>
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/loginSignup.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<style>
body {
  background-image: url('https://images.squarespace-cdn.com/content/v1/5b352a76f93fd4a1745161a8/1530580533507-XFJITGNH91P5QQGMSX4Q/layout-background.jpg?format=2500w');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

<!-- The Modal (contains the Sign Up form) -->
<div class="modal" style="height: 100%;">
  <div class="container paypalBtn mobileScreen">
    <div class="subscriptionContainer"><h2 style="text-align: center;">Thank you for signing up for Kolby's Picks!</h2> 
        <p style="text-align: center;">This is a $5 monthly subscription which includes all Moneyline AI picks and Kolby's Daily Picks, both for NBA, NFL, MLB and NHL, also includes 1 week free trial.</p>
        <h6 style="text-align: center;">Please Click one of the links below to proceed with payment!</h6>
        </div>
    <div class="paypalBtnHolder">
    <div id="paypal-button-container-P-6TS59700HA1617635MRDVNHY">@innerHtmlValue</div>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <a type="button" href="/" class="cancelbtn">Cancel</a>
    </div>
  </div>
</div>

@code
{
  private string innerHtmlValue = "";

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
  innerHtmlValue = "";
  await JSRuntime.InvokeVoidAsync("renderPaypal");
  }
}