@inherits LayoutComponentBase

<PageTitle>BlazorApp</PageTitle>

<div class="page">
    <div class="navBar">
        <NavMenu />
    </div>
    <div style="width: 100%; height: 100%;">
        <main role="main" style="width: 100%;">
            @Body
        </main>
    </div>

    <footer class="footer text-muted hideMobileScreen" style="position: fixed;">
        <div class="container footerText colorIndex" style="color: black;">
            &copy; 2023 - SportsScores - <a class="colorIndex" style="color: black;" asp-area="" href="/Privacy">Privacy</a>
        </div>
    </footer>
</div>
