/*General body style*/
body {
    display: flex;
    height: 100%;
    flex-direction: column;
    background: #f44336;
    font-family: Oxygen, sans-serif;
  }
  
  .date {
    height: 20%;
    width: 100%;
    display: flex;
    background: white;
    font-size: small;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    letter-spacing: 1px;
  }
  
  .footer {
    bottom:0;
    left:0;
    width:100%;
    height: 8%;
    vertical-align: middle;
    display: flex;
    align-items: center;
  }
  
  .footerText {
    text-align: center;
    color: black;
    width:100%;
    margin:auto;
    padding-left:5%;
    padding-bottom:15px;
  }
  
  .bestBetHeader{
    width:100%;
    height: 10%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin:auto;
    padding-top: 10px;
  }
  
  .headerText {
    text-align: center;
    color: black;
    width:100%;
    margin:auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4vh;
  }
  
  @media screen and (max-width: 768px) {
    .mobileScreen {
      width: 96% !important;
    }
  }
  
  @media screen and (max-width: 600px) {
    .mobileposition {
      position: relative !important;
    }
  }
  
  @media screen and (max-width: 600px) {
    .mobileHeader {
      font-size: 50px!important;
    }
  }
  
  @media screen and (max-width: 768px) {
    .mobileNavbar {
      display: none;
      position: fixed !important;
      right: 5% !important;
      width: 25% !important;
      float: right !important;
      align-content: center !important;
      background-color: black !important;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
  }
  }
  
  /*General style for score and bet containers across the site*/
  .team {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    font-size: medium;
    color: white;
    letter-spacing: 1px;
    padding-left: 10px;
  }
  
  .team .score {
    flex-shrink: 0;
    width: 5%;
    display: flex;
    justify-content: center;
    margin: 10%;
    letter-spacing: 2px;
  }
  
  .win .score {
    color: #eabf4f;
  }
  
  .win .team {
    color: #eabf4f;
  }
  
  .lose .score {
    color: white;
  }
  
  .lose .team {
    color: white;
  }
  
  .divider{
    border-bottom:gray;
    border-width: 1px;
    border-style:solid;
  }
  
  .act-divider{
    border-bottom:white;
    border-width: 1px;
    border-style:solid;
  }
  
  @media screen and (max-width: 1200px) {
  .hideMobileScreen{
    display: none!important;
  }
}