@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ModalElements.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/MainStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
  @@media screen and (max-width: 766px) {
    .mobileDivider {
        display: none!important;
    }
    }

  @@media screen and (max-width: 766px) {
    .mobileHeight {
        height:90px!important;
    }
    .navDivider{
      display: none!important;
    }
    }

    .navBarContainer{
      height: 60px;
      width: 100vw;
      background-color:#dbb5b2;
      position: fixed;
      z-index: 1;
    }
    .navDivider{
      height: 60px;
      width: 92%;
      position: absolute;
      border-bottom: white;
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }

</style>
<div class="site-mobile-menu site-navbar-target" style="width: 100%;height:100%">
        <div href="#" class="site-mobile-menu-close js-menu-toggle mt-3 mobileNavClose">
          Close
        </div>
      <div class="site-mobile-menu-body" style="position: fixed; height:fit-content; bottom:0; text-align:center;width:100vw; overflow:auto">
        <ul class="site-nav-wrap">
          <li><a @onclick=renderHome href="" class="nav-link active">Home</a></li>
              <br>
              <li><a @onclick=renderLiveScores href="">Live Scores</a></li>
              <li><a @onclick=renderBettingOdds href="">Betting Odds</a></li>
              <li class="has-children">
                <span class="arrow-collapse collapsed" data-toggle="collapse" data-target="#collapseItem0" aria-expanded="false"></span>
                <a href="">Sports</a>
                <ul class="dropdown">
                  <li><a @onclick=renderMLB href="" >MLB</a></li>
                  <li><a @onclick=renderNFL href="" >NFL</a></li>
                  <li><a @onclick=renderNBA href="" >NBA</a></li>
                  <li><a @onclick=renderNHL href="" >NHL</a></li>
                  <li><a @onclick=renderCBaseball href="">College Baseball</a></li>
                  <li><a @onclick=renderCFB href="">College Football</a></li>
                  <li><a @onclick=renderCBB href="">College Basketball</a></li>
                  <li><a @onclick=renderLeague1 href="">Ligue 1</a></li>
                  <li><a @onclick=renderSerieA href="">Serie A</a></li>
                  <li><a @onclick=renderLaLiga href="">LaLiga</a></li>
                  <li><a @onclick=renderPrem href="">Premier League</a></li>
                  <li><a @onclick=renderBundesliga href="">Bundesliga</a></li>
                  <li><a @onclick=renderMLS href="">MLS</a></li>
                  </ul>
              </li>
              <li><a @onclick=renderContact href="">Contact</a></li>
              @if (cookieValue == "true")
              {
              <li><a href="Signout">Sign Out</a></li>
              <li><a @onclick=renderAccount href="">Account Hub</a></li>
              }
              else
              {
              <li><a @onclick=showSignupModal href="">Sign Up</a></li>
              <li><a @onclick=renderLogin href="">Log In</a></li>
              }
        </ul>
      </div>
    </div> <!-- .site-mobile-menu -->
    <!-- NAVBAR -->
    <div class="navBarContainer mobileHeight mobileHomePage">
    <header class="site-navbar mt-3" style="position:fixed;z-index:1">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6 hideHome"><a @onclick=renderHome href=""><img src="/images/logo_transparent.png" style="height: 6vh"></a></div>

          <nav class="mx-auto site-navigation" style="width:auto!important">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
              <li><a @onclick=renderHome href="" class="nav-link active">Home</a></li>
              <li><a @onclick=renderLiveScores href="">Live Scores</a></li>
              <li><a @onclick=renderBettingOdds href="">Betting Odds</a></li>
              <li class="has-children">
                <a>Sports</a>
                <ul class="dropdown">
                  <li><a @onclick=renderMLB href="">MLB</a></li>
                  <li><a @onclick=renderNFL href="">NFL</a></li>
                  <li><a @onclick=renderNBA href="">NBA</a></li>
                  <li><a @onclick=renderNHL href="">NHL</a></li>
                  <li><a @onclick=renderCBaseball href="">College Baseball</a></li>
                  <li><a @onclick=renderCFB href="">College Football</a></li>
                  <li><a @onclick=renderCBB href="">College Basketball</a></li>
                  <li><a @onclick=renderLeague1 href="">Ligue 1</a></li>
                  <li><a @onclick=renderSerieA href="">Serie A</a></li>
                  <li><a @onclick=renderLaLiga href="">LaLiga</a></li>
                  <li><a @onclick=renderPrem href="">Premier League</a></li>
                  <li><a @onclick=renderBundesliga href="">Bundesliga</a></li>
                  <li><a @onclick=renderMLS href="">MLS</a></li>

                  </ul>
              </li>
              <li><a @onclick=renderContact>Contact</a></li>
              @if (cookieValue == "true")
              {
              <li class="d-lg-none"><a href="/Signout">Sign Out</a></li>
              <li class="d-lg-none"><a @onclick=renderAccount href="">Account Hub</a></li>
              }
              else
              {
              <li class="d-lg-none"><a @onclick=showSignupModal href="">Sign Up</a></li>
              <li class="d-lg-none"><a @onclick=renderLogin href="">Log In</a></li>
              }
            </ul>
          </nav>
          <div class="navDivider"></div>
          <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
            <div class="ml-auto" style="margin-left:auto!important">
              @if (cookieValue == "true")
              {
              <a href="/Signout" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Sign Out</a>
              <a @onclick=renderAccount href="" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Account Hub</a>
              }
              else
              {
              <a @onclick=showSignupModal href="" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Sign Up</a>
              <a @onclick=renderLogin href="" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Log In</a>
              }
            </div>
            <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3 mobileNavToggle">Menu</a>
          </div>

        </div>
      </div>
    </header>
  </div>
@code {
  string cookieValue = "";
  protected override async Task OnInitializedAsync()
    {
    cookieValue = HttpContextAccessor.HttpContext.Request.Cookies["loggedInStatus"];
  }

  public async Task showSignupModal()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showSignupModal", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }

  public async Task renderMLB()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showMLB", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderNBA()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showNBA", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderNFL()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showNFL", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderNHL()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showNHL", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderLogin()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showLogin", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderContact()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showContact", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderAccount()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showAccount", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderBettingOdds()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showBettingOdds", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderLiveScores()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showLiveScores", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderHome()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showHome", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderCBaseball()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showCBaseball", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderCFB()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showCFB", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderCBB()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showCBB", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderLeague1()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showLeague1", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderSerieA()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showSerieA", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderLaLiga()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showLaLiga", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderPrem()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showPrem", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderBundesliga()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showBundesliga", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
  public async Task renderMLS()
  {
    await JSRuntime.InvokeVoidAsync("cookieInterop.setCookie", "showMLS", "true", null, null, null, null);
    NavigationManager.NavigateTo("/",forceLoad:true);
  }
}